<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "federer.jpg", width: 300, alt: "profile image" %>
  </div>
  
  <div class="col-md-8">
    <p>I am a very dedicated and hard working person who always follows through and get the job done. I love playing tennis and watching tv. </p>

    <p>I hope to play professionally someday</p>
  </div>
</div>


